@page
@model QuizSystemFrontend.Pages.QuizListModel

<h2>Quiz List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model.Quizzes)
        {
            <tr>
                <td>@quiz.Id</td>
                <td>@quiz.Title</td>
                <td>@quiz.Description</td>
            </tr>
        }
    </tbody>
</table>
